.heading-positivus .heading-positivus-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heading-positivus .heading-positivus-item {
  display: inline-block;
  width: fit-content;
}

.heading-positivus .heading-positivus-highlight {
  display: inline;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-l);
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  padding: 0 7px;
  border-radius: 7px;
  box-decoration-break: clone;
}

.heading-positivus .heading-positivus-green .heading-positivus-highlight {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.heading-positivus .heading-positivus-white .heading-positivus-highlight {
  background-color: var(--background-color);
  color: var(--text-color);
}

.heading-positivus .heading-positivus-dark .heading-positivus-highlight {
  background-color: var(--dark-color);
  color: var(--background-color);
}
